body {
  margin: 0;
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  align-items: center;
  justify-content: center;
  display: flex;
}
#weather-container {
  padding: 30px;
  margin: 100px;
  background: pink;
  border-radius: 4px;
  height: 500px;
  box-shadow: 0cqmin;
  text-align: center;
  border: 2px solid rgb(19, 236, 19);
}
h2 {
  color: #fff;
  margin: 15px;
}
input {
  padding: 8px;
  box-sizing: border-box;
  border-radius: 5px;
  border-color: rgb(237, 57, 57);
  margin-top: 5px;
}
button {
  padding: 9px;
  border-color: rgb(25, 176, 222);
  background: rgb(185, 225, 103);
  box-shadow: #fff;
  margin-left: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  cursor: pointer;
  height: 7%;
  border-radius: 5px;
  font-size: 15px;
}
button:hover {
  background: red;
}
#temp-dev p {
  font-size: 60px;
  margin-top: -30px;
}
#weather-info {
  font-size: 20px;
}
#weather-icon {
  width: 200px;
  height: 200px;
  margin: 100px;
  display: none;
  margin-bottom: 0;
}
#hourly-forecast {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  white-space: npwrap;
}
